<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/png" href="images/bakeress_icon.png"/>
  <title>La Boulangerie Fin du Siècle</title>


  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Federo|Grand+Hotel|Lily+Script+One|Parisienne|Sevillana" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"/>
  <link href="main.css" type="text/css" rel="stylesheet" media="screen,projection"/>

 <nav>
   <div class="nav-wrapper">
     <a href="#!" class="brand-logo" id="logo">La BOULANGERIE FIN du SIÈCLE</a>
     <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down">
       <li><a href="/cupcake">cupcakes</a></li>
       <li><a href="/muffin">muffins</a></li>
       <li><a href="/pains">pains</a></li>
       <li><a href="/savory_treat">savory treats</a></li>
     </ul>
   </div>
 </nav>

 <ul class="sidenav" id="mobile-demo">
   <li><a href="/cupcake">cupcakes</a></li>
   <li><a href="/muffin">muffins</a></li>
   <li><a href="/pains">pains</a></li>
   <li><a href="savory_treat">savory treats</a></li>
 </ul>

</head>

<body>

<%= yield %>

<script type="text/javascript" src="materialize/js/materialize.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="main.js"></script>

</body>

<footer>
</footer>

</html>
