<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/png" href="images/logo2.png"/>
  <title>La Boulangerie Fin du Siècle</title>

  <!-- CSS  -->
<!--  <link href="https://fonts.googleapis.com/css?family=Economica|Nanum+Brush+Script" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Federo|Grand+Hotel|Parisienne|" rel="stylesheet"/>
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<!--  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
<!--  <link href="main.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->

  <nav>
    <div class="nav-wrapper" id="navvy">
      <a href="/"><img id="logo-container" class="brand-logo left" src="images/logo2.png" alt="Pic of Tiny Ornate Cake in Silhouette" class="point" style="padding-left: 375px;"></img></a>
      <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down" id="navvy">
        <li><a href="/cakes"><h6>GÂTEAUX & TARTES</h6></a></li>
        <li><a href="/pains"><h6>PAINS & BISCUITS</h6></a></li>
        <li><a href="/savory"><h6>GÂTERIES SAVOUREUSES</h6></a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/cakes">Gâteaux & Tartes</a></li>
    <li><a href="/pains">Pains & Biscuits</a></li>
    <li><a href="savory">Gâteries Savoureuses</a></li>
  </ul>

</head>
<body>

<%= yield %>

<div class="parallax-container valign-wrapper">
<div class="section no-pad-bot">
  <div class="container">
    <div class="row center">
      <h3 class="header col s12 white-text">Eat...yum...Eat...yum...Eat...yum...Eat...yum...</h3>
    </div>
  </div>
</div>
<div class="parallax"><img src="images/baked_breads3.jpg" alt="Pic of Yummy Breads"></div>
</div>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
<script src="main.js"></script>

</body>
<footer class="page-footer" id="recolor">


<form action="/form" method="POST">
<input type="email" name="email" placeholder="Enter your email to receive our newsletter!" required>
<input type="submit" value="Send">
</form>
<p class="center black-text" class="titles">Copyright 2018 La Boulangerie Fin du Siècle</p>
</footer>

</html>
