<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br/>
      <h3 class="header center white-text">La Boulangerie Fin du Siècle</h3>
   <div class="row center">
        <h4 class="header col s12 light white-text">Where style is oh so retro and our food is oh so phresh</h4>
      </div>
      <div class="row center">
        <br/><br/>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/mucha_title3.jpg" alt="Pic of Cropped Mucha"></div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send black-text"></i></h3>
        <h4></h4>
        <p class="center-align dark"><h5>
          Our treats are French, and therefore, delicious. You will be a <em>toxicomane</em> (addict!) for our baked goods! But it's all okay, babies, we've got the remedies for anything that ails you right here.
        </h5>
      </p>
    </div>
  </div>
</div>
</div>



<div class="parallax-container valign-wrapper">
<div class="section no-pad-bot">
  <div class="container">
    <div class="row center">
      <h5 class="header col s12 black-text"></h5>
    </div>
  </div>
</div>
<div class="parallax"><img src="images/bakery_girl.jpg" alt="Pic of Hands Baking"></div>
</div>

<div class="container">
<div class="row" background-color="#beb1d5">
  <div class="col s4 m4">
    <div class="icon-block">
      <h2 class="center deep-purple-darken-3-text" class="titles">Gâteries Savoureuses</h2>
      <h5 class="center">Get You Some</h5>

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="images/savory_card.jpg" alt="Pic of Savory Tarte">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"></br><i class="material-icons right">Allez-vous!</i></span>
                      <p></p>
                    </div>
               <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4" class="titles">Gâteries Savoureuses<i class="material-icons right">close</i></span>
                      <p id="savoryDiv">Sun-dried Tomato Cream Tartlette - $36.00/ea</p>
                    </div>
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>

  <div class="col s4 m4">
    <div class="icon-block">
      <h2 class="center deep-purple-darken-3-text" class="titles">Gâteries Savoureuses</h2>
      <h5 class="center">Get You Some</h5>

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="images/savory_card2.jpg" alt="Pic of Savory Tarte">
                    </div>
                    <div class="card-content">
                      <a href="/pains"><span class="card-title activator grey-text text-darken-4"></br><i class="material-icons right">Allez-vous!</i></span></a>
                      <p></p>
                    </div>
                    <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4" class="titles">Gâteries Savoureuses<i class="material-icons right">close</i></span>
                      <p id="painsDiv">Red Tomato and Fontina Cheese Tartlette - $32.00/ea</p>
                    </div>
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>

  <div class="col s4 m4">
    <div class="icon-block">
      <h2 class="center deep-purple-darken-3-text" class="titles">Gâteries Savoureuses</h2>
      <h5 class="center">Get You Some</h5>

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="images/savory_card3.jpg" alt="Pic of Savory Tomato Tarte">
                    </div>
                    <div class="card-content">
                      <a href="/savory"><span class="card-title activator grey-text text-darken-4"></br><i class="material-icons right">Allez-vous!</i></span></a>
                      <p></p>
                    </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4" class="titles">Gâteries Savoureuses<i class="material-icons right">close</i></span>
                      <p id="savoryDiv">Sugar-Cured Bacon and Cranberry Pie - $40.00</p>
                    </div>
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
</div>
</div>
</div>
