<<<<<<< HEAD
<div class="parallax-container valign-wrapper">
<div class="section no-pad-bot">
  <div class="container">
    <div class="row center">
      <h5 class="header col s12 black-text"></h5>
    </div>
  </div>
</div>
<div class="parallax"><img src="images/bakery_girl2.jpg" alt="Pic of Hands Baking"></div>
</div>
=======

>>>>>>> 7cca79290e0c79f3ea7cc14ea94ea02e4f5e4fc8

<div class="container">
<div class="row" background-color="#beb1d5">
  <div class="col s4 m4">
    <div class="icon-block">
<<<<<<< HEAD
      <h2 class="center deep-purple-darken-3-text" class="titles">Gâteries Savoureuses</h2>
      <h5 class="center">Get You Some</h5>
=======
      <h3 class="center deep-purple-darken-3-text" id="cakes">Gâteries Savoureuses</h3>
      <h6 class="center">Get You Some</h6>
>>>>>>> 7cca79290e0c79f3ea7cc14ea94ea02e4f5e4fc8

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
<<<<<<< HEAD
                      <img class="activator" src="images/savory_card.jpg" alt="Pic of Savory Tarte">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"></br><i class="material-icons right">Allez-vous!</i></span>
                      <p></p>
                    </div>
               <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4" class="titles">Gâteries Savoureuses<i class="material-icons right">close</i></span>
                      <p id="savoryDiv">Sun-dried Tomato Cream Tartlette - $36.00/ea</p>
=======
                      <img src="images/savory_card.jpg" alt="Pic of a berry tart">
                    </div>
                    <div class="card-content">
                      <span class="card-title grey-text text-darken-4"><i class="material-icons right"><a href="/savory">cupcakes</a></i></span>
                      <p></p>
                    </div>
                 <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4" class="title">Gâteries Savoureuses<i class="material-icons right">close</i></span>
                      <p id="breadsDiv">Sun-dried Tomato Cream Tartlette - $36.00/ea</p>
>>>>>>> 7cca79290e0c79f3ea7cc14ea94ea02e4f5e4fc8
                    </div>
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>

  <div class="col s4 m4">
    <div class="icon-block">
<<<<<<< HEAD
      <h2 class="center deep-purple-darken-3-text" class="titles">Gâteries Savoureuses</h2>
      <h5 class="center">Get You Some</h5>
=======
      <h3 class="center deep-purple-darken-3-text" id="breads">Gâteries Savoureuses</h3>
      <h6 class="center">Get You Some</6>
>>>>>>> 7cca79290e0c79f3ea7cc14ea94ea02e4f5e4fc8

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
<<<<<<< HEAD
                      <img class="activator" src="images/savory_card2.jpg" alt="Pic of Savory Tarte">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4"></br><i class="material-icons right">Allez-vous!</i></span>
                      <p></p>
                    </div>
                    <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4" class="titles">Gâteries Savoureuses<i class="material-icons right">close</i></span>
                      <p id="painsDiv">Red Tomato and Fontina Cheese Tartlette - $32.00/ea</p>
=======
                      <img src="images/savory_card2.jpg" alt="Pic of bread and flour">
                    </div>
                    <div class="card-content">
                      <span class="card-title grey-text text-darken-4"><i class="material-icons right"><a href="/savory">cupcakes</a></i></span>
                      <p></p>
                    </div>
               <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4" class="title">Gâteries Savoureuses<i class="material-icons right">close</i></span>
                      <p id="breadsDiv">Red Tomato and Fontina Cheese Tartlette - $32.00/ea</p>
>>>>>>> 7cca79290e0c79f3ea7cc14ea94ea02e4f5e4fc8
                    </div>
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>

  <div class="col s4 m4">
    <div class="icon-block">
<<<<<<< HEAD
      <h2 class="center deep-purple-darken-3-text" class="titles">Gâteries Savoureuses</h2>
      <h5 class="center">Get You Some</h5>
=======
      <h3 class="center deep-purple-darken-3-text" id="savory">Gâteries Savoureuses</h3>
      <h6 class="center">Get You Some</h6>
>>>>>>> 7cca79290e0c79f3ea7cc14ea94ea02e4f5e4fc8

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
<<<<<<< HEAD
                      <img class="activator" src="images/savory_card3.jpg" alt="Pic of Savory Tomato Tarte">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4"></br><i class="material-icons right">Allez-vous!</i></span>
                      <p></p>
                    </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4" class="titles">Gâteries Savoureuses<i class="material-icons right">close</i></span>
                      <p id="savoryDiv">Sugar-Cured Bacon and Cranberry Pie - $40.00</p>
=======
                      <img src="images/savory_card3.jpg" alt="Pic of a savory pie">
                    </div>
                    <div class="card-content">
                      <span class="card-title grey-text text-darken-4"><i class="material-icons right"><a href="/savory">cupcakes</a></i></span>
                      <p></p>
                    </div>
                <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4" class="title">Gâteries Savoureuses<i class="material-icons right">close</i></span>
                      <p id="savoryDiv" black-text>Sugar-Cured Bacon and Cranberry Pie - $40.00</p>
>>>>>>> 7cca79290e0c79f3ea7cc14ea94ea02e4f5e4fc8
                    </div>
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
</div>
<<<<<<< HEAD
</div>
=======


<div class="parallax-container valign-wrapper">
<div class="section no-pad-bot">
  <div class="container">
    <div class="row center">
      <h3 class="header col s12 black-text">Eat...yum...Eat...yum...Eat...yum</h3>
    </div>
  </div>
</div>
<div class="parallax"><img src="/images/sideways.png" alt="Lavender-tinted Graveyard 3"></div>
>>>>>>> 7cca79290e0c79f3ea7cc14ea94ea02e4f5e4fc8
</div>
