<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br/>
      <h1 class="header center black-text">La Boulangerie Fin du Siècle</h1>
      <div class="row center">
        <h4 class="header col s12 light black-text">Where style is oh so retro and our food is oh so phresh</h4>
      </div>
      <div class="row center"><img src="/images/top_img.jpg" alt="Food on Slate Chalk">
        <br/><br/>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send black-text"></i></h3>
        <p class="center-align dark"><h5>
          Our treats are French, and therefore, delicious. You will be a <i>toxicomane</i> (addict!) for our baked goods! But it's all okay, babies, we've got the remedies for anything that ails you right here.
        </h5>
      </p>
    </div>
  </div>
</div>
</div>

<div class="container">
<div class="row" background-color="#beb1d5">
  <div class="col s4 m4">
    <div class="icon-block">
      <h3 class="center deep-purple-darken-3-text" id="cakes">Gâteaux & Tartes</h3>
      <h6 class="center">Get You Some</h6>

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img src="images/cake_card.jpg" alt="Pic of a berry tart">
                    </div>
                    <div class="card-content">
                      <span class="card-title grey-text text-darken-4"><i class="material-icons right"><a href="/cakes">cupcakes</a></i></span>
                      <p></p>
                    </div>
                <!--    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4" class="title">breads<i class="material-icons right">close</i></span>
                      <p id="breadsDiv"></p>
                    </div> -->
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>

  <div class="col s4 m4">
    <div class="icon-block">
      <h3 class="center deep-purple-darken-3-text" id="breads">Pains & </br> Biscuits</h3>
      <h6 class="center">Get You Some</6>

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img src="images/bread_card.jpg" alt="Pic of bread and flour">
                    </div>
                    <div class="card-content">
                      <span class="card-title grey-text text-darken-4"><i class="material-icons right"><a href="/pains">cupcakes</a></i></span>
                      <p></p>
                    </div>
                <!--    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4" class="title">breads<i class="material-icons right">close</i></span>
                      <p id="breadsDiv"></p>
                    </div> -->
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>

  <div class="col s4 m4">
    <div class="icon-block">
      <h3 class="center deep-purple-darken-3-text" id="savory">Gâteries Savoureuses</h3>
      <h6 class="center">Get You Some</h6>

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img src="images/savory_card.jpg" alt="Pic of a savory pie">
                    </div>
                    <div class="card-content">
                      <span class="card-title grey-text text-darken-4"><i class="material-icons right"><a href="/savory">cupcakes</a></i></span>
                      <p></p>
                    </div>
                <!--    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4" class="title">savory<i class="material-icons right">close</i></span>
                      <p id="savoryDiv"></p>
                    </div> -->
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
</div>


<div class="parallax-container valign-wrapper">
<div class="section no-pad-bot">
  <div class="container">
    <div class="row center">
      <h3 class="header col s12 black-text">Eat...yum...Eat...yum...Eat...yum</h3>
    </div>
  </div>
</div>
<div class="parallax"><img src="/images/sideways.png" alt="Lavender-tinted Graveyard 3"></div>
</div>
