<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/png" href="images/bakeress_icon.png"/>
  <title>La Boulangerie Fin du Siècle</title>


  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="parallax-template/css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="parallax-template/css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="parallax-template/css/style.css"  media="screen,projection"/>

  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Federo|Grand+Hotel|Lily+Script+One|Parisienne|Sevillana" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"/>
  <link href="main.css" type="text/css" rel="stylesheet" media="screen,projection"/>

 <nav>
   <div class="nav-wrapper">
     <a href="#!" class="brand-logo center" id="logo"></a>
     <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down">
       <li><a href="/cakes">Gâteaux & Tartes</a></li>
       <li><a href="/pains">Pains & Biscuits</a></li>
       <li><a href="/savory">Gâteries Savoureuses</a></li>
     </ul>
   </div>
 </nav>

 <ul class="sidenav" id="mobile-demo">
   <li><a href="/cakes">Gâteaux & Tartes</a></li>
   <li><a href="/pains">Pains & Biscuits</a></li>
   <li><a href="savory">Gâteries Savoureuses</a></li>
 </ul>

</head>
<body>


<%= yield%>



<script type="text/javascript" src="materialize/js/materialize.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script type="text/javascript" src="parallax-template/js/materialize.min.js"/>
<script type="text/javascript" src="parallax-template/js/materialize.js"/
<script src="main.js"></script>

</body>

<footer class="page-footer black">
  <p>Enter your email to receive our newsletter!</p>

<form action="/form" method="POST">
<input type="email" name="email" placeholder="Enter your email" required>
<input type="submit" value="Send">
</form>
<p class="center white-text">Copyright 2018 La Boulangerie Fin du Siècle</p>
</footer>


</html>
